À l'attention de :  <strong>[PRENOM ET NOM DU CLIENT],</strong><br/>

Nous vous remercions pour votre récente expérience à l’établissement <strong>[NOM DU PARTENAIRE]</strong>
, effectuée via BIGDeal.tn. Afin d'améliorer notre service, nous aimerions connaître votre avis sur cet établissement. Veuillez noter votre expérience en cliquant sur le lien suivant :
<a href="{{ path('Lien vers page du formulaire') }}">Lien vers page du formulaire</a>
Si vous avez des questions, n'hésitez pas à nous contacter à  <a href="mailto:contact@bigdeal.tn">contact@bigdeal.tn</a>
Merci,
<br/>
<br/>
<strong>L’équipe BIGDeal</strong>