			</td>
		</tr>
	</tbody>
</table>
<!-- Bottom spacing -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
   <tbody>
		<tr>
			<td height="20">
			</td>
		</tr>
   </tbody>
</table>
<!-- End Bottom spacing -->
<!-- Start of Email footer -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
   <tbody>
      <tr>
         <td>
            <table bgcolor="#de0e79" width="563" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;font-family:'PT Sans',sans-serif">
            	<tbody>
            		<tr>
						<td height="10" colspan="3"></td>
					</tr>
					<tr align="center">
					<td colspan="3"><span><a href="http://www.bigdeal.tn/" target="_blank" style="color:#ffffff;text-decoration:none;font-size:18px">www.bigdeal.tn</a></span></td>
					</tr>
					<tr>
					<td height="10" colspan="3"></td>
					</tr>
					<tr>
						<td colspan="3">
							<table width="100" align="center" style="margin:0px auto;">
								<tbody>
									<tr style="line-height:0px">
										<td width="36" style="background-color:#951946;padding:10px 14px" align="center">
											<a href="" target="_blank"><img src="https://www.bigdeal.tn/public/images/fc.png" alt="facebook" width="8" height="16" class="CToWUd"></a>
										</td>
										<td width="36" style="background-color:#951946;padding:10px">
											<a href="#" target="_blank"><img src="https://www.bigdeal.tn/public/images/tw.png" alt="twiter" width="13" height="13" class="CToWUd"></a>
										</td>
										<td width="36" style="background-color:#951946;padding:10px">
											<a href="#" target="_blank"><img src="https://www.bigdeal.tn/public/images/gplus.png" alt="google" width="15" height="15" class="CToWUd"></a>
										</td>
										<td width="36" style="background-color:#951946;padding:8px 11px">
											<a href="#" target="_blank"> <img src="https://www.bigdeal.tn/public/images/youtube.png" alt="youtube" width="15" height="20" class="CToWUd"></a>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td height="10" colspan="3"></td>
					</tr>
				</tbody>
			</table>
         </td>
      </tr>
   </tbody>
</table>
<!-- End of Email footer -->
</body>
</html>