<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Bigdeal Email</title>
      <style type="text/css">
        
      </style>
   </head>
   <body bgcolor="#cccccc" style="font-family: Arial, sans-serif;font-weight: 400;font-size: 14px; color: #333">
   <table width="563" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" align="center" style="padding-top:15px;margin:0 auto;">
		<tbody>
			<tr>
				<td height="20">
				</td>
			</tr>
			<tr>
				<td width="100%" style="padding:0">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
					
						<tbody>
						<tr style="border:none">
							<td align="center" width="250" height="44">
								<a href="#" target="_blank">
									<a href="#"><img src="https://www.bigdeal.tn/public/images/logo.png" alt="BigDeal" width="250" height="44" /></a>
								</a>
							</td>
						</tr>
						
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td height="10" style="border-bottom: 2px solid #de0e79">
				</td>
			</tr>
		</tbody>
	</table>
<!-- Top spacing -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
   <tbody>
      <tr>
         <td height="10">
         </td>
      </tr>
   </tbody>
</table>
<!-- End Top spacing -->
<table width="563" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" style="margin:0 auto" align="center">
   <tbody>
      <tr>
		<td width="100%" >