{% include 'MainFrontBundle:Email:header.html.twig' %}
Bonjour,<br>
Vous avez une nouvelle notification à propos de votre ticket.<br>
Merci d'accéder à votre compte sur <a href="https://www.bigdeal.tn{{ path('main_front_homepage') }}">www.bigdeal.tn</a> pour consulter votre ticket.<br>
<br/>
<br/>
<strong>L’équipe BIGDeal</strong>
{% include 'MainFrontBundle:Email:footer.html.twig' %}