{% include 'MainFrontBundle:Email:header.html.twig' %}

<strong>Bienvenue chez BIGDeal, {{ nom }} ,</strong><br/>
Vous vous êtes inscrit avec succès sur BIGDeal en tant que partenaire.<br/><br/>

Votre login : {{ email }}<br/><br/>
Votre mot de passe : {{ password }}<br/><br/>
Connectez-vous sur votre espace marchand en cliquant <a href ="https://www.bigdeal.tn/dash/">ici</a>
<br/><br/>
<strong>L’équipe BIGDeal</strong>
{% include 'MainFrontBundle:Email:footer.html.twig' %}
