{% include 'MainFrontBundle:Email:header.html.twig' %}
Bonjour, <strong>{{ ticket.commande.client.name }} {{ ticket.commande.client.fname }} </strong><br/>
La demande de remboursement relatif à la commande liée au ticket <a href="https://www.bigdeal.tn{{ path('detail_ticket',{'id':ticketMessage.ticket.id}) }}">{{ ticket.code }}</a> a été traitée. Le remboursement s’est alors effectué par virement au RIB que vous avez communiqué.<br/>
Si vous avez des questions, n’hésitez pas à nous contacter au <strong>71 168 444</strong>.<br/>
<br/>
<br/>
<strong>L’équipe BIGDeal</strong>
{% include 'MainFrontBundle:Email:footer.html.twig' %}
