{% include 'MainFrontBundle:Email:header.html.twig' %}

Bonjour <strong>{{ prenom }} {{ nom }}</strong>, <br/>
Nous avons reçu une demande de réinitialisation du mot de passe de votre compte BIGDeal.<br/>
Veuillez cliquer sur le lien suivant afin de terminer cette procédure :<br/>
<a href="https://www.bigdeal.tn{{ path('reset') }}?token={{ email }}">changer votre mot de passe</a><br/>
Si vous n'avez pas fait la demande de réinitialisation de votre mot de passe, veuillez contacter le service client au 71 168 444.<br/>
Merci,<br/>
<br/>

<strong>L’équipe BIGDeal</strong>
{% include 'MainFrontBundle:Email:footer.html.twig' %}
