{% extends '::base.html.twig' %}
{% block body %}
    <h2>Veuillez confirmer votre inscription</h2><br/>

    <p>Afin de valider votre inscription, vous devez cliquer sur le lien de confirmation qui vous a été envoyé par email lors de votre inscription.</p><br/>
    <p>Si vous ne retrouvez pas cet email veuillez vérifier s'il ne se trouve dans votre dossier "Courrier indésirable" ou "spam" (ou équivalent).</p><br/>

{% endblock %}
