Bonjour, <strong>[PRENOM, NOM]</strong><br/>
Vous avez récemment commandé le deal [NOM DU DEAL] dont le numéro de commande est : <strong>[NUMERO DE COMMANDE]</strong><br/>
La transaction monétique vient d’être annulée par votre banque, nous avons donc  annulé votre commande.<br/>
Si vous avez reçu un coupon, merci de ne pas l’utiliser car il a été annulé.<br/>
Le montant de votre commande vous sera remboursé par votre banque, si ce n’est pas le cas merci de nous contacter pour intervenir.<br/>
Vous pouvez recommander votre deal en cliquant ici <a href="{{ path('roote de deal') }}" >[LIEN]</a>
Si vous avez des questions, n’hésitez pas à nous contacter.<br/>
<br/>
<br/>
<strong>L’équipe BIGDeal</strong>