Bonjour <strong>[PRENOM, NOM]</strong>,<br/>
Vous avez enregistré une commande sur  BIGDeal avec les détails suivants:<br/>
Commande		0000186561<br/>
Deal:		Baguette & Baguette : Profitez d’un repas équilibré et gourmand au choix pour 2 personnes à 10 DT SEULEMENT<br/>
Quantité		1<br/>
Prix total:		10 DT<br/>
Date de commande:		13 Mar 2015, Fri (1:40pm)<br/>
Mode de paiement		Carte bancaire<br/>

Pour obtenir votre coupon, cliquez sur le lien ci-dessous.
<a href="{{ path('lien pour recuperer coupon') }}">[lien]</a> <br/>
Ou connectez-vous à votre compte avec votre adresse email et votre nouveau mot de passe puis allez à la rubrique <strong>« mes commandes »</strong>
<br/>
<br/>

<strong>L’équipe BIGDeal</strong>