Bonjour [PRENOM, NOM], Nous avons reçu une demande de nouveau mot de passe.
Pour obtenir un nouveau mot de passe, cliquez sur le lien ci-dessous.
<a href="{{ path('lien changement mot de passe') }}">changer votre mot de passe</a>
Vous pouvez vous connecter à votre compte avec votre adresse email et votre nouveau mot de passe.<br/>
Vous n'avez pas fait une demande de nouveau mot de passe ou vous ne vous souvenez plus de l'ancien? Pas de problème, votre ancien mot de passe est toujours valide.
Merci,
<br/>
<br/>

<strong>L’équipe BIGDeal</strong>
