{% extends '::base.html.twig' %}
{% set idClient = app.user.id %}
{% block stylesheets %}
{% endblock %}
{% block title %}{% endblock %}
{% block body %}
    <div id="content" class="marg-50">
        <div class="row">
            <div class="col-md-12 entry">
                <h1>Confirmation de la commande {{ command.id }} </h1><br><br>
                <p>Votre commande sur Bigdeal est bien enregistrée. </p><br>
                <p>Le montant total de votre commande est de {{ price }} DT</p><br>
                <p>Votre commande est en attente de paiement et sera validée dès qu’elle sera payé à la livraison à l’adresse que vous avez indiqué lors du passage de votre commande</p><br>
                <p>Pour toute question ou information complémentaire Veuillez contacter notre support clients au 71 168 444.</p><br>
                <p> Merci de votre confiance.</p>
            </div>
        </div>
    </div>
    <!-- Modifier tel Modal1 -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/js/handlebars.min.js') }}"></script>
{% endblock %}

